@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Goldman&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
    letter-spacing: 0.4px;
}

body {
    background-color: #dfdce3;
    height: 100%;
    background-color: #4abdca;
}
.heading{
    color: crimson;
}

.container {
    background-color: #ffffff;
    width: 80%;
    padding: 3rem 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

img{
    width: 4rem;
   margin: 0 42% ;
   margin-top: -3rem;
   margin-bottom:0;
}

@media (min-width: 600px) {
    .container {
        max-width: 28.125rem;
    }
    img{
        margin-left: 10.3rem;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.lbl {
    font-size: 1rem;
    color: #44475b;
    font-weight: 400;
}

.val {
    color: #44475b;
    font-weight: 500;
    font-size: 1rem;
}

.input-box {
    background-color: #cdccfd;
    color: #6f6df4;
    padding: .313rem;
}


#bill {
    background-color: transparent;
    border: none;
    outline: none;
    width: 6.25rem;
    text-align: right;
    color: #6f6df4;
}

hr {
    border: none;
    border-bottom: 1px solid #cdccfd;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    /* width: 200px; */
    height: 5px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#6f6df4, #cdccfd);
    /* background-size: 70% 100%; */
    background-repeat: no-repeat;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #6f6df4;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]:not(:last-child) {
    margin-bottom: 5px;
}

section:not(:last-child) {
    margin-bottom: 3rem;
}

section:not(:first-child) {
    margin-top: 3rem;
}

section:last-child{
    background-color: #cdccfd;
    padding: .05rem .5rem;
    border-radius: 8px;
}

section:last-child .val,
section:last-child .lbl{
    color: #4c4af4;
    font-weight: 400;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #cdccfd;
    text-align: center;
  }

  .contact a{
    text-decoration: none;
    color:#fc4a1a
  }
